<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
            padding: 20px;
        }

        .container {
            background-color: #00b7ff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #000000;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
        }

        /* Example of CSS Animation */
        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .animated {
            animation: fadeIn 1s ease-in-out;
        }

        .navbar-brand {
            font-family: 'Pacifico', cursive;
            /* You can change the font-family to your preference */
            font-size: 24px;
            color: #007bff;
            /* Set the color to your desired brand color */
            letter-spacing: 1px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        }
        .img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 1px;
}
    </style>