<div class="container mt-4 animated">
    <h1>About Us</h1>
    <h2>Name: Fauzi Ramdani</h2>
    <h2>Hobbies: Demus</h2>
    <img src="images/uzi.jpg" alt="Fauzi Ramdani" style="width: 50%; max-width: 300px;">
</div>