
<div class="container mx-auto animated">
        <h1> <% title %></h1>
        <h1>Welcome to Our Home Page <%= nama %></h1>
        <p>
            Explore the amazing content and services we offer on our home page.
        </p>
        <!-- Add more content as needed -->
    </div>